.btn {
    min-width: 100px;
    background-color: $storm;
    padding: 0 12px;
    height: 40px;
    border: 0;
    color: $white;
    vertical-align: middle;
    transition: color 0.4s ease 0s,background-color 0.4s ease 0s;
    cursor: pointer;
    display: inline-block;

    p{
      display: inline-block;
      vertical-align: middle;
    }

    svg{
    fill:$silver;
    transition: fill 0.4s ease 0s,background-color 0.4s ease 0s;
    display: inline-block;
    vertical-align: middle;

    }


    &:focus,
    &:hover {
        background-color: $raspberry;
        outline: 0;

        svg{
        fill:$white;

        }

    }


    &--inverted{
      background-color: $raspberry;
      color: $white;

      &:hover,
      &:focus{
        background-color: $stone;
      }

    }

    &--fullwidth{
      width:100%;
    }

    &--relatedLinks{
      background-color: transparent;
      border-top: solid 1px $stone;
      width: 100%;
      text-align: left;
      transition: all 0.4s ease 0s;
      padding-right: 8px;

      @include mq($from: gel-bp-s, $until: gel-bp-m){
        padding-right: 0;
      }

      &:hover,
      &:focus{
        border-top: solid 1px $magenta;
        background-color: transparent;
        svg{
        fill: $magenta;
        }
      }
    }

    &--leftIcon{
      svg{
        padding-right:8px;
      }
    }

    &--rightIcon{
      svg{
        padding-left:8px;
      }
    }

    &--animate{
      text-transform: uppercase;
      background-color: rgba(37,37,37,0.7);
      background: linear-gradient(to right, $raspberry 50%, rgba(37,37,37,0.7) 50%);
    background-size: 210% 100%;
    background-position:right bottom;
    transition: background-position 0.5s;
    width: 160px;


    &:hover{
      background-position: left bottom;
      background-color: rgba(37,37,37,0.7);
      }
    }

    &--singleIcon{
      width: 100%;
      height: 100%;
      padding: 0px;
      min-width: 36px;

      svg{
        width: 32%;
        height:39%;
        padding-left:2%;
        fill:$magenta;
        transition: fill 0.4s ease 0s,background-color 0.4s ease 0s;
      }

      &:hover{
        svg{
          fill:white;
        }
      }
    }
}


.relatedLinks--outer{

  border-left: solid 6px $magenta;
}

.lnk {
    text-decoration: none;
    color: $white;
    transition: color 0.4s ease 0s,background-color 0.4s ease 0s;
    cursor: pointer;

    &:hover {
        color: $magenta;

        svg {
            fill: $magenta;
        }
    }

    &--bold {
        font-weight: bold;
    }

    &--underline:hover {
        padding-bottom: 3px;
        border-bottom: 1px solid;
    }

    &--icon {
        font-weight: bold;
        display: table;
        margin: auto;

        a {
            display: inline-block;
            vertical-align: middle;
        }

        svg {
            fill: $silver;
            padding-right: 8px;
            transition: fill 0.4s ease 0s,background-color 0.4s ease 0s;
            vertical-align: middle;
            display: inline-block;
        }
    }

    &--dropdown {
        font-weight: bold;

        svg {
            vertical-align:bottom;
            padding-bottom:4px;
            fill: $white;
            padding-left: 6px;
            transition: fill 0.4s ease 0s,background-color 0.4s ease 0s;
            height:10px;
            width:10px;
        }
    }
}

.leftBlock{
  float:left;
  padding-right:4px;
}

.rightBlock{
  float: right;
  padding-left: 4px;
}

.singleIcon-container{
  width:64px;
  height:64px;
  text-align: center;
  display: inline-block;
  margin: 1px;
}

.carouselButtons{
  background-color: $white;
  svg{
    fill: $night;
  }
}

.dismiss{
  background-color: transparent;
  padding: 16px;
  border:0;
  cursor:pointer;
  fill: $white;

  &:hover,
  &:focus{
    fill:$magenta;
  }

}


//LABELS

.editorial-label{
  background-color: $raspberry;
  color: $white;
  padding: 0px 4px;
  display: inline-block;
  vertical-align: middle;

  & p{
    display: inline-block;
    vertical-align: middle;
  }

  &--pulsate{
     animation: pulse 3s infinite;
  }

  @keyframes pulse {
  0% {
    background-color: $stone;
  }
  50% {
    background-color: $raspberry;
  }
  100% {
    background-color: $stone;
  }
}

  }


//NAVIGATION


.filter-item{
  color: $silver;
  display: inline-block;
  vertical-align: middle;
  margin: auto;
  fill:$silver;
  margin-right:16px;
  cursor: pointer;

    svg,
    p{
      display: inline-block;
      vertical-align: middle;
    }

    svg{
      padding-right: 8px;
    }

  &:hover,
  &:focus{
    fill:$white;
    color: $white;
  }

  &--active,
  &--active:hover,
  &--active:focus{
    cursor: default;
    color: $raspberry;
    fill: $raspberry;

  }
}

.nav-item{
  color: $white;
  cursor: pointer;
  text-align: left;
  vertical-align: middle;
  display: table;
  width: 100%;
  fill:$white;
  height:32px;
  transition: color 0.4s ease 0s,background-color 0.4s ease 0s;

  p,
  svg{
    display: table-cell;
    vertical-align: middle;

    }

  p{
    padding: 0 12px;
    }

  svg{
    float: right;
  }



    &:hover,
    &:focus{
    background-color: white;
    color: $storm;
      }

  &--active,
  &--active:hover,
  &--active:focus{
    background-color: $raspberry;
    color: $white;
    cursor: default;

  }

}

.progress{
  height: 6px;
  width: 100%;
  background-color: rgba(255,255,255,0.5);

  &__bar{
    height: 100%;
  background-color: $magenta;
  }
}



.duration-label,
.duration-label__icon,
.duration-label__time {
  display: inline-block;
  vertical-align: middle;
  fill: $silver;
  color: $silver;
}

.duration-label svg{
  padding-right: 8px;
  vertical-align: middle;
  display: inline-block;
}
