// iPlayer Colour Variables

$black: #000;
$charcoal: #2a2a2a;
$concrete: #777;
$gray: #252525;
$guidance-red: #af372a;
$idcta-blue: #85bae6;
$magenta: #f54997;
$night: #1e1e1e;
$platinum: #eee;
$raspberry: #cf3e80;
$silver: #bbb;
$stone: #444;
$store-blue: #00bcec;
$storm: #333;
$white: #fff;
