  // iplayer-matter/_typography.scss
  //

  // EAGLE
  //

  %ipl-eagle,
  .ipl-eagle {
    font-size: 32px;
    line-height: 36px;

    @include mq($from: 320px) {
      font-size: 36px;
      line-height: 42px;
    }

    @include mq($from: gel-bp-m) {
      font-size: 46px;
      line-height: 54px;
    }
  }

  %ipl-eagle-bold,
  .ipl-eagle-bold{
    @extend .ipl-eagle;
    font-weight: bold;
  }


  // BUZZARD
  //

  %ipl-buzzard,
  .ipl-buzzard {
    font-size: 24px;
    line-height: 24px;

    @include mq($from: 320px) {
      font-size: 24px;
      line-height: 28px;
    }

    @include mq($from: gel-bp-m) {
      font-size: 32px;
      line-height: 32px;
    }
  }

  %ipl-buzzard-bold,
  .ipl-buzzard-bold{
    @extend .ipl-buzzard;
    font-weight: bold;
  }



  // HERON
  //

  %ipl-heron,
  .ipl-heron {
    font-size: 20px;
    line-height: 24px;

    @include mq($from: gel-bp-m) {
      font-size: 24px;
      line-height: 28px;
    }
  }

  %ipl-heron-bold,
  .ipl-heron-bold{
    @extend .ipl-heron;
    font-weight: bold;
  }


  // GOOSE
  //

  %ipl-goose,
  .ipl-goose {
    font-size: 18px;
    line-height: 20px;

    @include mq($from: 320px) {
      font-size: 20px;
      line-height: 24px;
    }

    @include mq($from: gel-bp-m) {
      font-size: 20px;
      line-height: 20px;
    }
  }

  %ipl-goose-bold,
  .ipl-goose-bold{
    @extend .ipl-goose;
    font-weight: bold;
  }


  // SKYLARK
  //

  %ipl-skylark,
  .ipl-skylark {
    font-size: 15px;
    line-height: 20px;

    @include mq($from: 320px) {
      font-size: 16px;
      line-height: 22px;
    }

    @include mq($from: gel-bp-m) {
      // Inherit from above.
    }
  }

  %ipl-skylark-bold,
  .ipl-skylark-bold{
    @extend .ipl-skylark;
    font-weight: bold;
  }


  // CANARY
  //

  %ipl-canary,
  .ipl-canary {
    font-size: 15px;
    line-height: 18px;

    @include mq($from: 320px) {
      font-size: 16px;
      line-height: 20px;
    }

    @include mq($from: gel-bp-m) {
      font-size: 14px;
      line-height: 20px;
    }
  }

  %ipl-canary-bold,
  .ipl-canary-bold{
    @extend .ipl-canary;
    font-weight: bold;
  }


  // BULLFINCH
  //

  %ipl-bullfinch,
  .ipl-bullfinch {
    font-size: 13px;
    line-height: 16px;

    @include mq($from: 320px) {
      font-size: 14px;
      line-height: 16px;
    }

    @include mq($from: gel-bp-m) {
      font-size: 13px;
      line-height: 16px;
    }
  }

  %ipl-bullfinch-bold,
  .ipl-bullfinch-bold{
    @extend .ipl-bullfinch;
    font-weight: bold;
  }

  // ROBIN
  //

  %ipl-robin,
  .ipl-robin {
    font-size: 11px;
    line-height: 16px;
    text-transform: uppercase;

    @include mq($from: 320px) {
      // Inherit from above.
    }

    @include mq($from: gel-bp-m) {
      // Inherit from above.
    }
  }

  %ipl-robin-bold,
  .ipl-robin-bold{
    @extend .ipl-robin;
    font-weight: bold;
  }

body{
  -webkit-font-smoothing: antialiased;
}

.title{
  color: $platinum;
}

.body-copy{
  color: $silver
}
