.modal{
  width: 288px;
  background-color: $charcoal;
  text-align: center;
  position: relative;
  margin: auto;


  @include mq($from: gel-bp-s){
    max-width: 456px;
    width: 100%;
  }

  @include mq($from: gel-bp-m){
    width: 456px;
  }

  &__inner{
      padding:56px 32px 32px;
  }

  &__title{
    color: $magenta;
  }

  &__subtitle{
    color: $platinum;
    margin-top:8px;
  }

  &__description{
    color: $silver;
    margin-top: 8px;
  }

  &__links{
    padding-top: 16px;
  }

  &__dismiss{
    position: absolute;
    top: 0;
    right:0;
  }

  &__checkbox,
  &__guidance{

    display: inline-block;
    vertical-align: middle;
    margin: 8px 0;


    & p{
      display: inline-block;
      vertical-align: middle;
      max-width: 60%;
      text-align: left;
      margin-left: 8px;
      }
    & svg{
      display: inline-block;
      vertical-align: middle;
      fill:red;
    }


  }

  &__checkbox p{
    max-width: 100%;
  }





}

.btn--modal-stacked-buttons{
  height: 56px;
  width: 100%;
  border-top: solid 1px $stone;
  background-color: $charcoal;
}

.btn--modal-inline-buttons{
  display: inline-block;
  height: 56px;
  width: 100%;
  background-color: $charcoal;
  border-top: solid 1px $stone;

  @include mq($from: gel-bp-m){
    width:50%
  }

  &:first-child{

    @include mq($from: gel-bp-m){
      border-right: solid 1px $stone;
  }


}
}


.modal__checkbox{

  margin:24px 0px 0px 0px;

  svg {
    width: 16px;
  height: 16px;
  padding:8px;
    display: inline-block;
  vertical-align:middle;
  background-color:$white;
}
label {
  position: relative;
  cursor: pointer;
    display: inline-block;
  vertical-align:middle;

}
input[type="checkbox"] {
  opacity: 0;
  width: 0px;
  height: 0px;
  margin:0px;
}

input[type="checkbox"]:checked ~ label svg path {
  fill:$storm;
}

.checkbox__text{
	padding-left:16px;
}

}
