.modal{
  width: 456px;
  background-color: $charcoal;
  padding:56px 32px 32px;
  text-align: center;

  &__title{
    color: $magenta;
  }

  &__description{
    color: $silver;
    margin-top: 8px;
  }

  &__buttons--stacked{
    height:56px;
    text-align: center;
  }
}
