nav{
  height:60px;
  background-color: rgba(30,30,30,1);
  border-bottom: solid 1px $storm;
  width: 100%;
  position: fixed;
  top: 0;
  display: inline-block;
  vertical-align: middle;
}

nav ul {
  padding: 20px;
  list-style: none;
  text-align: left;
}
nav ul li {
  display: inline-block;
  margin: 0 10px;
}
nav ul li a {
  text-transform: uppercase;;
}

a.active {
  border-bottom: 2px solid #ecf0f1;
}

.toggleNavBtn {
  text-align: right;
  padding: 20px;
  text-transform: uppercase;

}



#subnav{
  width: 100%;
  background-color: rgba(0,0,0,1);
  border-top: solid 1px $storm;
  -webkit-transition: all 0.7s ease-out;
  overflow: hidden;
  max-height: 0px;

  &.active{
    border-bottom: solid 1px $storm;
    border-top: solid 1px $storm;
    height: auto;
    max-height: 900px;

  }

  ul{
    width: 100%;;
    margin: 0 auto;
    display: block;

    li{
      display: block;
      padding: 16px 0;
    }
    }

  }

.navLink--active a{
    color: $magenta;
  }
