<div class="page-header">
  <div class="gel-wrap">
    <div class="browserSize gel-layout">
      <div class="gel-layout__item">
        <p class="ipl-canary browserSize browserSize--g1">Breakpoint: G1</p>
        <p class="ipl-canary browserSize browserSize--g2">Breakpoint: G2</p>
        <p class="ipl-canary browserSize browserSize--g3">Breakpoint: G3</p>
        <p class="ipl-canary browserSize browserSize--g4">Breakpoint: G4</p>
    </div>
  </div>
    <div class="gel-layout">
      <div class="gel-layout__item">
        <h1 class="ipl-eagle-bold title">{{pageTitle}}</h1>
        <p class="ipl-skylark body-copy gel-8/12@m">{{pageDescription}}</p>
      </div>
    </div>
  </div>
</div>
