.gel-canon {
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 32px;
  line-height: 2rem; }
  @media (min-width: 20em) {
    .gel-canon {
      font-size: 32px;
      font-size: 2rem;
      line-height: 36px;
      line-height: 2.25rem; } }
  @media (min-width: 37.5em) {
    .gel-canon {
      font-size: 52px;
      font-size: 3.25rem;
      line-height: 56px;
      line-height: 3.5rem; }
      .no-touch .gel-canon {
        font-size: 44px;
        font-size: 2.75rem;
        line-height: 48px;
        line-height: 3rem; } }

.gel-canon-bold {
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 32px;
  line-height: 2rem;
  font-weight: bold;
  letter-spacing: -1px;
  letter-spacing: -0.0625rem; }
  @media (min-width: 20em) {
    .gel-canon-bold {
      font-size: 32px;
      font-size: 2rem;
      line-height: 36px;
      line-height: 2.25rem; } }
  @media (min-width: 37.5em) {
    .gel-canon-bold {
      font-size: 52px;
      font-size: 3.25rem;
      line-height: 56px;
      line-height: 3.5rem; }
      .no-touch .gel-canon-bold {
        font-size: 44px;
        font-size: 2.75rem;
        line-height: 48px;
        line-height: 3rem; } }

.gel-trafalgar {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 24px;
  line-height: 1.5rem; }
  @media (min-width: 20em) {
    .gel-trafalgar {
      font-size: 24px;
      font-size: 1.5rem;
      line-height: 28px;
      line-height: 1.75rem; } }
  @media (min-width: 37.5em) {
    .gel-trafalgar {
      font-size: 36px;
      font-size: 2.25rem;
      line-height: 40px;
      line-height: 2.5rem; }
      .no-touch .gel-trafalgar {
        font-size: 32px;
        font-size: 2rem;
        line-height: 36px;
        line-height: 2.25rem; } }

.gel-trafalgar-bold {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: bold;
  letter-spacing: -1px;
  letter-spacing: -0.0625rem; }
  @media (min-width: 20em) {
    .gel-trafalgar-bold {
      font-size: 24px;
      font-size: 1.5rem;
      line-height: 28px;
      line-height: 1.75rem; } }
  @media (min-width: 37.5em) {
    .gel-trafalgar-bold {
      font-size: 36px;
      font-size: 2.25rem;
      line-height: 40px;
      line-height: 2.5rem; }
      .no-touch .gel-trafalgar-bold {
        font-size: 32px;
        font-size: 2rem;
        line-height: 36px;
        line-height: 2.25rem; } }

.gel-double-pica {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 24px;
  line-height: 1.5rem; }
  @media (min-width: 37.5em) {
    .gel-double-pica {
      font-size: 26px;
      font-size: 1.625rem;
      line-height: 30px;
      line-height: 1.875rem; }
      .no-touch .gel-double-pica {
        font-size: 24px;
        font-size: 1.5rem;
        line-height: 28px;
        line-height: 1.75rem; } }

.gel-double-pica-bold {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: bold;
  letter-spacing: -1px;
  letter-spacing: -0.0625rem; }
  @media (min-width: 37.5em) {
    .gel-double-pica-bold {
      font-size: 26px;
      font-size: 1.625rem;
      line-height: 30px;
      line-height: 1.875rem; }
      .no-touch .gel-double-pica-bold {
        font-size: 24px;
        font-size: 1.5rem;
        line-height: 28px;
        line-height: 1.75rem; } }

.gel-great-primer {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 22px;
  line-height: 1.375rem; }
  @media (min-width: 37.5em) {
    .gel-great-primer {
      font-size: 21px;
      font-size: 1.3125rem;
      line-height: 24px;
      line-height: 1.5rem; }
      .no-touch .gel-great-primer {
        font-size: 20px;
        font-size: 1.25rem; } }

.gel-great-primer-bold {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 22px;
  line-height: 1.375rem;
  font-weight: bold; }
  @media (min-width: 20em) {
    .gel-great-primer-bold {
      letter-spacing: -1px;
      letter-spacing: -0.0625rem; } }
  @media (min-width: 37.5em) {
    .gel-great-primer-bold {
      font-size: 21px;
      font-size: 1.3125rem;
      line-height: 24px;
      line-height: 1.5rem; }
      .no-touch .gel-great-primer-bold {
        font-size: 20px;
        font-size: 1.25rem; } }

.gel-pica {
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 20px;
  line-height: 1.25rem; }
  @media (min-width: 20em) {
    .gel-pica {
      font-size: 16px;
      font-size: 1rem;
      line-height: 20px;
      line-height: 1.25rem; } }
  @media (min-width: 37.5em) {
    .gel-pica {
      font-size: 18px;
      font-size: 1.125rem;
      line-height: 22px;
      line-height: 1.375rem; }
      .no-touch .gel-pica {
        font-size: 16px;
        font-size: 1rem;
        line-height: 20px;
        line-height: 1.25rem; } }

.gel-pica-bold {
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 20px;
  line-height: 1.25rem;
  font-weight: bold; }
  @media (min-width: 20em) {
    .gel-pica-bold {
      font-size: 16px;
      font-size: 1rem;
      line-height: 20px;
      line-height: 1.25rem; } }
  @media (min-width: 37.5em) {
    .gel-pica-bold {
      font-size: 18px;
      font-size: 1.125rem;
      line-height: 22px;
      line-height: 1.375rem; }
      .no-touch .gel-pica-bold {
        font-size: 16px;
        font-size: 1rem;
        line-height: 20px;
        line-height: 1.25rem; } }

.gel-long-primer {
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 18px;
  line-height: 1.125rem; }
  @media (min-width: 37.5em) {
    .gel-long-primer {
      line-height: 20px;
      line-height: 1.25rem; }
      .no-touch .gel-long-primer {
        font-size: 14px;
        font-size: 0.875rem;
        line-height: 18px;
        line-height: 1.125rem; } }

.gel-long-primer-bold {
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 18px;
  line-height: 1.125rem;
  font-weight: bold; }
  @media (min-width: 37.5em) {
    .gel-long-primer-bold {
      line-height: 20px;
      line-height: 1.25rem; }
      .no-touch .gel-long-primer-bold {
        font-size: 14px;
        font-size: 0.875rem;
        line-height: 18px;
        line-height: 1.125rem; } }

.gel-brevier {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 16px;
  line-height: 1rem; }
  @media (min-width: 20em) {
    .gel-brevier {
      line-height: 18px;
      line-height: 1.125rem; } }
  @media (min-width: 37.5em) {
    .no-touch .gel-brevier {
      font-size: 13px;
      font-size: 0.8125rem;
      line-height: 16px;
      line-height: 1rem; } }

.gel-brevier-bold {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 16px;
  line-height: 1rem;
  font-weight: bold; }
  @media (min-width: 20em) {
    .gel-brevier-bold {
      line-height: 18px;
      line-height: 1.125rem; } }
  @media (min-width: 37.5em) {
    .no-touch .gel-brevier-bold {
      font-size: 13px;
      font-size: 0.8125rem;
      line-height: 16px;
      line-height: 1rem; } }

.gel-minion {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 16px;
  line-height: 1rem;
  text-transform: uppercase; }
  @media (min-width: 37.5em) {
    .gel-minion {
      font-size: 13px;
      font-size: 0.8125rem; }
      .no-touch .gel-minion {
        font-size: 12px;
        font-size: 0.75rem; } }

.gel-minion-bold {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 16px;
  line-height: 1rem;
  text-transform: uppercase;
  font-weight: bold; }
  @media (min-width: 37.5em) {
    .gel-minion-bold {
      font-size: 13px;
      font-size: 0.8125rem; }
      .no-touch .gel-minion-bold {
        font-size: 12px;
        font-size: 0.75rem; } }

.gel-body-copy {
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 20px;
  line-height: 1.25rem; }
  @media (min-width: 20em) {
    .gel-body-copy {
      font-size: 16px;
      font-size: 1rem;
      line-height: 22px;
      line-height: 1.375rem; } }
  @media (min-width: 37.5em) {
    .gel-body-copy {
      font-size: 18px;
      font-size: 1.125rem;
      line-height: 24px;
      line-height: 1.5rem; }
      .no-touch .gel-body-copy {
        font-size: 16px;
        font-size: 1rem;
        line-height: 22px;
        line-height: 1.375rem; } }

body {
  font-family: Helvetica, Arial, freesans, sans-serif; }

/**
 * Grid containing element
 */
.gel-wrap {
  max-width: 1008px;
  margin: 0 auto;
  padding-right: 8px;
  padding-left: 8px; }
  @media (min-width: 25em) {
    .gel-wrap {
      padding-left: 16px;
      padding-right: 16px; } }
  @media (min-width: 80em) {
    .false .gel-wrap {
      max-width: 1280px; } }

/**
 * A grid row
 */
.gel-layout {
  margin-right: 0;
  margin-left: -8px;
  padding-right: 0;
  padding-left: 0;
  list-style: none;
  text-align: left;
  letter-spacing: -0.31em;
  text-rendering: optimizespeed; }
  @media (min-width: 37.5em) {
    .gel-layout {
      margin-left: -16px; } }
  .opera-only :-o-prefocus,
  .gel-layout {
    word-spacing: -0.43em; }

/**
 * A single grid item
 */
.gel-layout__item {
  display: inline-block;
  padding-left: 8px;
  text-align: left;
  width: 100%;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto; }
  @media (min-width: 37.5em) {
    .gel-layout__item {
      padding-left: 16px; } }

/**
 * Layouts with no gutters.
 */
.gel-layout--flush {
  margin-left: 0; }
  .gel-layout--flush > .gel-layout__item {
    padding-left: 0; }

/**
 * Reversed rendered order of layout items, e.g. items 1, 2, 3, 4 in your
 * markup will display in order 4, 3, 2, 1 on your page
 */
.gel-layout--rev {
  direction: rtl;
  text-align: left; }
  .gel-layout--rev > .gel-layout__item {
    direction: ltr;
    text-align: left; }

/**
 * Align layout items to the vertical centers of each other
 */
.gel-layout--middle > .gel-layout__item {
  vertical-align: middle; }

/**
 * Align layout items to the vertical bottoms of each other
 */
.gel-layout--bottom > .gel-layout__item {
  vertical-align: bottom; }

/**
 * Make the layout items fill up from the right hand side
 */
.gel-layout--right {
  text-align: right; }
  .gel-layout--right > .gel-layout__item {
    text-align: left; }

/**
 * Make the layout items fill up from the center outward
 */
.gel-layout--center {
  text-align: center; }
  .gel-layout--center > .gel-layout__item {
    text-align: left; }

/**
 * Cause layout items to take up a non-explicit amount of width
 */
.gel-layout--auto > .gel-layout__item {
  width: auto; }

.gel-1\/1 {
  width: 100% !important; }

.gel-1\/2 {
  width: 50% !important; }

.gel-1\/3 {
  width: 33.33333% !important; }

.gel-2\/3 {
  width: 66.66667% !important; }

.gel-1\/4 {
  width: 25% !important; }

.gel-2\/4 {
  width: 50% !important; }

.gel-3\/4 {
  width: 75% !important; }

.gel-1\/5 {
  width: 20% !important; }

.gel-2\/5 {
  width: 40% !important; }

.gel-3\/5 {
  width: 60% !important; }

.gel-4\/5 {
  width: 80% !important; }

.gel-1\/8 {
  width: 12.5% !important; }

.gel-2\/8 {
  width: 25% !important; }

.gel-3\/8 {
  width: 37.5% !important; }

.gel-4\/8 {
  width: 50% !important; }

.gel-5\/8 {
  width: 62.5% !important; }

.gel-6\/8 {
  width: 75% !important; }

.gel-7\/8 {
  width: 87.5% !important; }

.gel-1\/10 {
  width: 10% !important; }

.gel-2\/10 {
  width: 20% !important; }

.gel-3\/10 {
  width: 30% !important; }

.gel-4\/10 {
  width: 40% !important; }

.gel-5\/10 {
  width: 50% !important; }

.gel-6\/10 {
  width: 60% !important; }

.gel-7\/10 {
  width: 70% !important; }

.gel-8\/10 {
  width: 80% !important; }

.gel-9\/10 {
  width: 90% !important; }

.gel-1\/12 {
  width: 8.33333% !important; }

.gel-2\/12 {
  width: 16.66667% !important; }

.gel-3\/12 {
  width: 25% !important; }

.gel-4\/12 {
  width: 33.33333% !important; }

.gel-5\/12 {
  width: 41.66667% !important; }

.gel-6\/12 {
  width: 50% !important; }

.gel-7\/12 {
  width: 58.33333% !important; }

.gel-8\/12 {
  width: 66.66667% !important; }

.gel-9\/12 {
  width: 75% !important; }

.gel-10\/12 {
  width: 83.33333% !important; }

.gel-11\/12 {
  width: 91.66667% !important; }

.gel-1\/24 {
  width: 4.16667% !important; }

.gel-2\/24 {
  width: 8.33333% !important; }

.gel-3\/24 {
  width: 12.5% !important; }

.gel-4\/24 {
  width: 16.66667% !important; }

.gel-5\/24 {
  width: 20.83333% !important; }

.gel-6\/24 {
  width: 25% !important; }

.gel-7\/24 {
  width: 29.16667% !important; }

.gel-8\/24 {
  width: 33.33333% !important; }

.gel-9\/24 {
  width: 37.5% !important; }

.gel-10\/24 {
  width: 41.66667% !important; }

.gel-11\/24 {
  width: 45.83333% !important; }

.gel-12\/24 {
  width: 50% !important; }

.gel-13\/24 {
  width: 54.16667% !important; }

.gel-14\/24 {
  width: 58.33333% !important; }

.gel-15\/24 {
  width: 62.5% !important; }

.gel-16\/24 {
  width: 66.66667% !important; }

.gel-17\/24 {
  width: 70.83333% !important; }

.gel-18\/24 {
  width: 75% !important; }

.gel-19\/24 {
  width: 79.16667% !important; }

.gel-20\/24 {
  width: 83.33333% !important; }

.gel-21\/24 {
  width: 87.5% !important; }

.gel-22\/24 {
  width: 91.66667% !important; }

.gel-23\/24 {
  width: 95.83333% !important; }

@media (min-width: 25em) {
  .gel-1\/1\@s {
    width: 100% !important; }

  .gel-1\/2\@s {
    width: 50% !important; }

  .gel-1\/3\@s {
    width: 33.33333% !important; }

  .gel-2\/3\@s {
    width: 66.66667% !important; }

  .gel-1\/4\@s {
    width: 25% !important; }

  .gel-2\/4\@s {
    width: 50% !important; }

  .gel-3\/4\@s {
    width: 75% !important; }

  .gel-1\/5\@s {
    width: 20% !important; }

  .gel-2\/5\@s {
    width: 40% !important; }

  .gel-3\/5\@s {
    width: 60% !important; }

  .gel-4\/5\@s {
    width: 80% !important; }

  .gel-1\/8\@s {
    width: 12.5% !important; }

  .gel-2\/8\@s {
    width: 25% !important; }

  .gel-3\/8\@s {
    width: 37.5% !important; }

  .gel-4\/8\@s {
    width: 50% !important; }

  .gel-5\/8\@s {
    width: 62.5% !important; }

  .gel-6\/8\@s {
    width: 75% !important; }

  .gel-7\/8\@s {
    width: 87.5% !important; }

  .gel-1\/10\@s {
    width: 10% !important; }

  .gel-2\/10\@s {
    width: 20% !important; }

  .gel-3\/10\@s {
    width: 30% !important; }

  .gel-4\/10\@s {
    width: 40% !important; }

  .gel-5\/10\@s {
    width: 50% !important; }

  .gel-6\/10\@s {
    width: 60% !important; }

  .gel-7\/10\@s {
    width: 70% !important; }

  .gel-8\/10\@s {
    width: 80% !important; }

  .gel-9\/10\@s {
    width: 90% !important; }

  .gel-1\/12\@s {
    width: 8.33333% !important; }

  .gel-2\/12\@s {
    width: 16.66667% !important; }

  .gel-3\/12\@s {
    width: 25% !important; }

  .gel-4\/12\@s {
    width: 33.33333% !important; }

  .gel-5\/12\@s {
    width: 41.66667% !important; }

  .gel-6\/12\@s {
    width: 50% !important; }

  .gel-7\/12\@s {
    width: 58.33333% !important; }

  .gel-8\/12\@s {
    width: 66.66667% !important; }

  .gel-9\/12\@s {
    width: 75% !important; }

  .gel-10\/12\@s {
    width: 83.33333% !important; }

  .gel-11\/12\@s {
    width: 91.66667% !important; }

  .gel-1\/24\@s {
    width: 4.16667% !important; }

  .gel-2\/24\@s {
    width: 8.33333% !important; }

  .gel-3\/24\@s {
    width: 12.5% !important; }

  .gel-4\/24\@s {
    width: 16.66667% !important; }

  .gel-5\/24\@s {
    width: 20.83333% !important; }

  .gel-6\/24\@s {
    width: 25% !important; }

  .gel-7\/24\@s {
    width: 29.16667% !important; }

  .gel-8\/24\@s {
    width: 33.33333% !important; }

  .gel-9\/24\@s {
    width: 37.5% !important; }

  .gel-10\/24\@s {
    width: 41.66667% !important; }

  .gel-11\/24\@s {
    width: 45.83333% !important; }

  .gel-12\/24\@s {
    width: 50% !important; }

  .gel-13\/24\@s {
    width: 54.16667% !important; }

  .gel-14\/24\@s {
    width: 58.33333% !important; }

  .gel-15\/24\@s {
    width: 62.5% !important; }

  .gel-16\/24\@s {
    width: 66.66667% !important; }

  .gel-17\/24\@s {
    width: 70.83333% !important; }

  .gel-18\/24\@s {
    width: 75% !important; }

  .gel-19\/24\@s {
    width: 79.16667% !important; }

  .gel-20\/24\@s {
    width: 83.33333% !important; }

  .gel-21\/24\@s {
    width: 87.5% !important; }

  .gel-22\/24\@s {
    width: 91.66667% !important; }

  .gel-23\/24\@s {
    width: 95.83333% !important; } }
@media (min-width: 37.5em) {
  .gel-1\/1\@m {
    width: 100% !important; }

  .gel-1\/2\@m {
    width: 50% !important; }

  .gel-1\/3\@m {
    width: 33.33333% !important; }

  .gel-2\/3\@m {
    width: 66.66667% !important; }

  .gel-1\/4\@m {
    width: 25% !important; }

  .gel-2\/4\@m {
    width: 50% !important; }

  .gel-3\/4\@m {
    width: 75% !important; }

  .gel-1\/5\@m {
    width: 20% !important; }

  .gel-2\/5\@m {
    width: 40% !important; }

  .gel-3\/5\@m {
    width: 60% !important; }

  .gel-4\/5\@m {
    width: 80% !important; }

  .gel-1\/8\@m {
    width: 12.5% !important; }

  .gel-2\/8\@m {
    width: 25% !important; }

  .gel-3\/8\@m {
    width: 37.5% !important; }

  .gel-4\/8\@m {
    width: 50% !important; }

  .gel-5\/8\@m {
    width: 62.5% !important; }

  .gel-6\/8\@m {
    width: 75% !important; }

  .gel-7\/8\@m {
    width: 87.5% !important; }

  .gel-1\/10\@m {
    width: 10% !important; }

  .gel-2\/10\@m {
    width: 20% !important; }

  .gel-3\/10\@m {
    width: 30% !important; }

  .gel-4\/10\@m {
    width: 40% !important; }

  .gel-5\/10\@m {
    width: 50% !important; }

  .gel-6\/10\@m {
    width: 60% !important; }

  .gel-7\/10\@m {
    width: 70% !important; }

  .gel-8\/10\@m {
    width: 80% !important; }

  .gel-9\/10\@m {
    width: 90% !important; }

  .gel-1\/12\@m {
    width: 8.33333% !important; }

  .gel-2\/12\@m {
    width: 16.66667% !important; }

  .gel-3\/12\@m {
    width: 25% !important; }

  .gel-4\/12\@m {
    width: 33.33333% !important; }

  .gel-5\/12\@m {
    width: 41.66667% !important; }

  .gel-6\/12\@m {
    width: 50% !important; }

  .gel-7\/12\@m {
    width: 58.33333% !important; }

  .gel-8\/12\@m {
    width: 66.66667% !important; }

  .gel-9\/12\@m {
    width: 75% !important; }

  .gel-10\/12\@m {
    width: 83.33333% !important; }

  .gel-11\/12\@m {
    width: 91.66667% !important; }

  .gel-1\/24\@m {
    width: 4.16667% !important; }

  .gel-2\/24\@m {
    width: 8.33333% !important; }

  .gel-3\/24\@m {
    width: 12.5% !important; }

  .gel-4\/24\@m {
    width: 16.66667% !important; }

  .gel-5\/24\@m {
    width: 20.83333% !important; }

  .gel-6\/24\@m {
    width: 25% !important; }

  .gel-7\/24\@m {
    width: 29.16667% !important; }

  .gel-8\/24\@m {
    width: 33.33333% !important; }

  .gel-9\/24\@m {
    width: 37.5% !important; }

  .gel-10\/24\@m {
    width: 41.66667% !important; }

  .gel-11\/24\@m {
    width: 45.83333% !important; }

  .gel-12\/24\@m {
    width: 50% !important; }

  .gel-13\/24\@m {
    width: 54.16667% !important; }

  .gel-14\/24\@m {
    width: 58.33333% !important; }

  .gel-15\/24\@m {
    width: 62.5% !important; }

  .gel-16\/24\@m {
    width: 66.66667% !important; }

  .gel-17\/24\@m {
    width: 70.83333% !important; }

  .gel-18\/24\@m {
    width: 75% !important; }

  .gel-19\/24\@m {
    width: 79.16667% !important; }

  .gel-20\/24\@m {
    width: 83.33333% !important; }

  .gel-21\/24\@m {
    width: 87.5% !important; }

  .gel-22\/24\@m {
    width: 91.66667% !important; }

  .gel-23\/24\@m {
    width: 95.83333% !important; } }
@media (min-width: 56.25em) {
  .gel-1\/1\@l {
    width: 100% !important; }

  .gel-1\/2\@l {
    width: 50% !important; }

  .gel-1\/3\@l {
    width: 33.33333% !important; }

  .gel-2\/3\@l {
    width: 66.66667% !important; }

  .gel-1\/4\@l {
    width: 25% !important; }

  .gel-2\/4\@l {
    width: 50% !important; }

  .gel-3\/4\@l {
    width: 75% !important; }

  .gel-1\/5\@l {
    width: 20% !important; }

  .gel-2\/5\@l {
    width: 40% !important; }

  .gel-3\/5\@l {
    width: 60% !important; }

  .gel-4\/5\@l {
    width: 80% !important; }

  .gel-1\/8\@l {
    width: 12.5% !important; }

  .gel-2\/8\@l {
    width: 25% !important; }

  .gel-3\/8\@l {
    width: 37.5% !important; }

  .gel-4\/8\@l {
    width: 50% !important; }

  .gel-5\/8\@l {
    width: 62.5% !important; }

  .gel-6\/8\@l {
    width: 75% !important; }

  .gel-7\/8\@l {
    width: 87.5% !important; }

  .gel-1\/10\@l {
    width: 10% !important; }

  .gel-2\/10\@l {
    width: 20% !important; }

  .gel-3\/10\@l {
    width: 30% !important; }

  .gel-4\/10\@l {
    width: 40% !important; }

  .gel-5\/10\@l {
    width: 50% !important; }

  .gel-6\/10\@l {
    width: 60% !important; }

  .gel-7\/10\@l {
    width: 70% !important; }

  .gel-8\/10\@l {
    width: 80% !important; }

  .gel-9\/10\@l {
    width: 90% !important; }

  .gel-1\/12\@l {
    width: 8.33333% !important; }

  .gel-2\/12\@l {
    width: 16.66667% !important; }

  .gel-3\/12\@l {
    width: 25% !important; }

  .gel-4\/12\@l {
    width: 33.33333% !important; }

  .gel-5\/12\@l {
    width: 41.66667% !important; }

  .gel-6\/12\@l {
    width: 50% !important; }

  .gel-7\/12\@l {
    width: 58.33333% !important; }

  .gel-8\/12\@l {
    width: 66.66667% !important; }

  .gel-9\/12\@l {
    width: 75% !important; }

  .gel-10\/12\@l {
    width: 83.33333% !important; }

  .gel-11\/12\@l {
    width: 91.66667% !important; }

  .gel-1\/24\@l {
    width: 4.16667% !important; }

  .gel-2\/24\@l {
    width: 8.33333% !important; }

  .gel-3\/24\@l {
    width: 12.5% !important; }

  .gel-4\/24\@l {
    width: 16.66667% !important; }

  .gel-5\/24\@l {
    width: 20.83333% !important; }

  .gel-6\/24\@l {
    width: 25% !important; }

  .gel-7\/24\@l {
    width: 29.16667% !important; }

  .gel-8\/24\@l {
    width: 33.33333% !important; }

  .gel-9\/24\@l {
    width: 37.5% !important; }

  .gel-10\/24\@l {
    width: 41.66667% !important; }

  .gel-11\/24\@l {
    width: 45.83333% !important; }

  .gel-12\/24\@l {
    width: 50% !important; }

  .gel-13\/24\@l {
    width: 54.16667% !important; }

  .gel-14\/24\@l {
    width: 58.33333% !important; }

  .gel-15\/24\@l {
    width: 62.5% !important; }

  .gel-16\/24\@l {
    width: 66.66667% !important; }

  .gel-17\/24\@l {
    width: 70.83333% !important; }

  .gel-18\/24\@l {
    width: 75% !important; }

  .gel-19\/24\@l {
    width: 79.16667% !important; }

  .gel-20\/24\@l {
    width: 83.33333% !important; }

  .gel-21\/24\@l {
    width: 87.5% !important; }

  .gel-22\/24\@l {
    width: 91.66667% !important; }

  .gel-23\/24\@l {
    width: 95.83333% !important; } }
@media (min-width: 63em) {
  .false .gel-1\/1\@xl {
    width: 100% !important; }
  .false .gel-1\/2\@xl {
    width: 50% !important; }
  .false .gel-1\/3\@xl {
    width: 33.33333% !important; }
  .false .gel-2\/3\@xl {
    width: 66.66667% !important; }
  .false .gel-1\/4\@xl {
    width: 25% !important; }
  .false .gel-2\/4\@xl {
    width: 50% !important; }
  .false .gel-3\/4\@xl {
    width: 75% !important; }
  .false .gel-1\/5\@xl {
    width: 20% !important; }
  .false .gel-2\/5\@xl {
    width: 40% !important; }
  .false .gel-3\/5\@xl {
    width: 60% !important; }
  .false .gel-4\/5\@xl {
    width: 80% !important; }
  .false .gel-1\/8\@xl {
    width: 12.5% !important; }
  .false .gel-2\/8\@xl {
    width: 25% !important; }
  .false .gel-3\/8\@xl {
    width: 37.5% !important; }
  .false .gel-4\/8\@xl {
    width: 50% !important; }
  .false .gel-5\/8\@xl {
    width: 62.5% !important; }
  .false .gel-6\/8\@xl {
    width: 75% !important; }
  .false .gel-7\/8\@xl {
    width: 87.5% !important; }
  .false .gel-1\/10\@xl {
    width: 10% !important; }
  .false .gel-2\/10\@xl {
    width: 20% !important; }
  .false .gel-3\/10\@xl {
    width: 30% !important; }
  .false .gel-4\/10\@xl {
    width: 40% !important; }
  .false .gel-5\/10\@xl {
    width: 50% !important; }
  .false .gel-6\/10\@xl {
    width: 60% !important; }
  .false .gel-7\/10\@xl {
    width: 70% !important; }
  .false .gel-8\/10\@xl {
    width: 80% !important; }
  .false .gel-9\/10\@xl {
    width: 90% !important; }
  .false .gel-1\/12\@xl {
    width: 8.33333% !important; }
  .false .gel-2\/12\@xl {
    width: 16.66667% !important; }
  .false .gel-3\/12\@xl {
    width: 25% !important; }
  .false .gel-4\/12\@xl {
    width: 33.33333% !important; }
  .false .gel-5\/12\@xl {
    width: 41.66667% !important; }
  .false .gel-6\/12\@xl {
    width: 50% !important; }
  .false .gel-7\/12\@xl {
    width: 58.33333% !important; }
  .false .gel-8\/12\@xl {
    width: 66.66667% !important; }
  .false .gel-9\/12\@xl {
    width: 75% !important; }
  .false .gel-10\/12\@xl {
    width: 83.33333% !important; }
  .false .gel-11\/12\@xl {
    width: 91.66667% !important; }
  .false .gel-1\/24\@xl {
    width: 4.16667% !important; }
  .false .gel-2\/24\@xl {
    width: 8.33333% !important; }
  .false .gel-3\/24\@xl {
    width: 12.5% !important; }
  .false .gel-4\/24\@xl {
    width: 16.66667% !important; }
  .false .gel-5\/24\@xl {
    width: 20.83333% !important; }
  .false .gel-6\/24\@xl {
    width: 25% !important; }
  .false .gel-7\/24\@xl {
    width: 29.16667% !important; }
  .false .gel-8\/24\@xl {
    width: 33.33333% !important; }
  .false .gel-9\/24\@xl {
    width: 37.5% !important; }
  .false .gel-10\/24\@xl {
    width: 41.66667% !important; }
  .false .gel-11\/24\@xl {
    width: 45.83333% !important; }
  .false .gel-12\/24\@xl {
    width: 50% !important; }
  .false .gel-13\/24\@xl {
    width: 54.16667% !important; }
  .false .gel-14\/24\@xl {
    width: 58.33333% !important; }
  .false .gel-15\/24\@xl {
    width: 62.5% !important; }
  .false .gel-16\/24\@xl {
    width: 66.66667% !important; }
  .false .gel-17\/24\@xl {
    width: 70.83333% !important; }
  .false .gel-18\/24\@xl {
    width: 75% !important; }
  .false .gel-19\/24\@xl {
    width: 79.16667% !important; }
  .false .gel-20\/24\@xl {
    width: 83.33333% !important; }
  .false .gel-21\/24\@xl {
    width: 87.5% !important; }
  .false .gel-22\/24\@xl {
    width: 91.66667% !important; }
  .false .gel-23\/24\@xl {
    width: 95.83333% !important; } }
@media (min-width: 80em) {
  .false .gel-1\/1\@xxl {
    width: 100% !important; }
  .false .gel-1\/2\@xxl {
    width: 50% !important; }
  .false .gel-1\/3\@xxl {
    width: 33.33333% !important; }
  .false .gel-2\/3\@xxl {
    width: 66.66667% !important; }
  .false .gel-1\/4\@xxl {
    width: 25% !important; }
  .false .gel-2\/4\@xxl {
    width: 50% !important; }
  .false .gel-3\/4\@xxl {
    width: 75% !important; }
  .false .gel-1\/5\@xxl {
    width: 20% !important; }
  .false .gel-2\/5\@xxl {
    width: 40% !important; }
  .false .gel-3\/5\@xxl {
    width: 60% !important; }
  .false .gel-4\/5\@xxl {
    width: 80% !important; }
  .false .gel-1\/8\@xxl {
    width: 12.5% !important; }
  .false .gel-2\/8\@xxl {
    width: 25% !important; }
  .false .gel-3\/8\@xxl {
    width: 37.5% !important; }
  .false .gel-4\/8\@xxl {
    width: 50% !important; }
  .false .gel-5\/8\@xxl {
    width: 62.5% !important; }
  .false .gel-6\/8\@xxl {
    width: 75% !important; }
  .false .gel-7\/8\@xxl {
    width: 87.5% !important; }
  .false .gel-1\/10\@xxl {
    width: 10% !important; }
  .false .gel-2\/10\@xxl {
    width: 20% !important; }
  .false .gel-3\/10\@xxl {
    width: 30% !important; }
  .false .gel-4\/10\@xxl {
    width: 40% !important; }
  .false .gel-5\/10\@xxl {
    width: 50% !important; }
  .false .gel-6\/10\@xxl {
    width: 60% !important; }
  .false .gel-7\/10\@xxl {
    width: 70% !important; }
  .false .gel-8\/10\@xxl {
    width: 80% !important; }
  .false .gel-9\/10\@xxl {
    width: 90% !important; }
  .false .gel-1\/12\@xxl {
    width: 8.33333% !important; }
  .false .gel-2\/12\@xxl {
    width: 16.66667% !important; }
  .false .gel-3\/12\@xxl {
    width: 25% !important; }
  .false .gel-4\/12\@xxl {
    width: 33.33333% !important; }
  .false .gel-5\/12\@xxl {
    width: 41.66667% !important; }
  .false .gel-6\/12\@xxl {
    width: 50% !important; }
  .false .gel-7\/12\@xxl {
    width: 58.33333% !important; }
  .false .gel-8\/12\@xxl {
    width: 66.66667% !important; }
  .false .gel-9\/12\@xxl {
    width: 75% !important; }
  .false .gel-10\/12\@xxl {
    width: 83.33333% !important; }
  .false .gel-11\/12\@xxl {
    width: 91.66667% !important; }
  .false .gel-1\/24\@xxl {
    width: 4.16667% !important; }
  .false .gel-2\/24\@xxl {
    width: 8.33333% !important; }
  .false .gel-3\/24\@xxl {
    width: 12.5% !important; }
  .false .gel-4\/24\@xxl {
    width: 16.66667% !important; }
  .false .gel-5\/24\@xxl {
    width: 20.83333% !important; }
  .false .gel-6\/24\@xxl {
    width: 25% !important; }
  .false .gel-7\/24\@xxl {
    width: 29.16667% !important; }
  .false .gel-8\/24\@xxl {
    width: 33.33333% !important; }
  .false .gel-9\/24\@xxl {
    width: 37.5% !important; }
  .false .gel-10\/24\@xxl {
    width: 41.66667% !important; }
  .false .gel-11\/24\@xxl {
    width: 45.83333% !important; }
  .false .gel-12\/24\@xxl {
    width: 50% !important; }
  .false .gel-13\/24\@xxl {
    width: 54.16667% !important; }
  .false .gel-14\/24\@xxl {
    width: 58.33333% !important; }
  .false .gel-15\/24\@xxl {
    width: 62.5% !important; }
  .false .gel-16\/24\@xxl {
    width: 66.66667% !important; }
  .false .gel-17\/24\@xxl {
    width: 70.83333% !important; }
  .false .gel-18\/24\@xxl {
    width: 75% !important; }
  .false .gel-19\/24\@xxl {
    width: 79.16667% !important; }
  .false .gel-20\/24\@xxl {
    width: 83.33333% !important; }
  .false .gel-21\/24\@xxl {
    width: 87.5% !important; }
  .false .gel-22\/24\@xxl {
    width: 91.66667% !important; }
  .false .gel-23\/24\@xxl {
    width: 95.83333% !important; } }

.ipl-eagle,
.ipl-eagle-bold {
  font-size: 32px;
  line-height: 36px; }
  @media (min-width: 20em) {
    .ipl-eagle,
    .ipl-eagle-bold {
      font-size: 36px;
      line-height: 42px; } }
  @media (min-width: 37.5em) {
    .ipl-eagle,
    .ipl-eagle-bold {
      font-size: 46px;
      line-height: 54px; } }

.ipl-eagle-bold {
  font-weight: bold; }

.ipl-buzzard,
.ipl-buzzard-bold {
  font-size: 24px;
  line-height: 24px; }
  @media (min-width: 20em) {
    .ipl-buzzard,
    .ipl-buzzard-bold {
      font-size: 24px;
      line-height: 28px; } }
  @media (min-width: 37.5em) {
    .ipl-buzzard,
    .ipl-buzzard-bold {
      font-size: 32px;
      line-height: 32px; } }

.ipl-buzzard-bold {
  font-weight: bold; }

.ipl-heron,
.ipl-heron-bold {
  font-size: 20px;
  line-height: 24px; }
  @media (min-width: 37.5em) {
    .ipl-heron,
    .ipl-heron-bold {
      font-size: 24px;
      line-height: 28px; } }

.ipl-heron-bold {
  font-weight: bold; }

.ipl-goose,
.ipl-goose-bold {
  font-size: 18px;
  line-height: 20px; }
  @media (min-width: 20em) {
    .ipl-goose,
    .ipl-goose-bold {
      font-size: 20px;
      line-height: 24px; } }
  @media (min-width: 37.5em) {
    .ipl-goose,
    .ipl-goose-bold {
      font-size: 20px;
      line-height: 20px; } }

.ipl-goose-bold {
  font-weight: bold; }

.ipl-skylark,
.ipl-skylark-bold {
  font-size: 15px;
  line-height: 20px; }
  @media (min-width: 20em) {
    .ipl-skylark,
    .ipl-skylark-bold {
      font-size: 16px;
      line-height: 22px; } }

.ipl-skylark-bold {
  font-weight: bold; }

.ipl-canary,
.ipl-canary-bold {
  font-size: 15px;
  line-height: 18px; }
  @media (min-width: 20em) {
    .ipl-canary,
    .ipl-canary-bold {
      font-size: 16px;
      line-height: 20px; } }
  @media (min-width: 37.5em) {
    .ipl-canary,
    .ipl-canary-bold {
      font-size: 14px;
      line-height: 20px; } }

.ipl-canary-bold {
  font-weight: bold; }

.ipl-bullfinch,
.ipl-bullfinch-bold {
  font-size: 13px;
  line-height: 16px; }
  @media (min-width: 20em) {
    .ipl-bullfinch,
    .ipl-bullfinch-bold {
      font-size: 14px;
      line-height: 16px; } }
  @media (min-width: 37.5em) {
    .ipl-bullfinch,
    .ipl-bullfinch-bold {
      font-size: 13px;
      line-height: 16px; } }

.ipl-bullfinch-bold {
  font-weight: bold; }

.ipl-robin,
.ipl-robin-bold {
  font-size: 11px;
  line-height: 16px;
  text-transform: uppercase; }

.ipl-robin-bold {
  font-weight: bold; }

body {
  -webkit-font-smoothing: antialiased; }

.title {
  color: #eee; }

.body-copy {
  color: #bbb; }

.page-header {
  background-color: #1e1e1e;
  padding: 100px 0 40px 0;
  margin: 0 0 32px 0; }
  .page-header h1 {
    margin: 16px 0 8px 0; }

.demo-title {
  margin: 0;
  color: #eee; }

.demo-body {
  margin: 0; }
  @media (min-width: 37.5em) {
    .demo-body {
      display: table-cell;
      vertical-align: middle; } }

.typo-settings {
  color: #f54997;
  margin: 8px 0; }
  .typo-settings--g2, .typo-settings--g3 {
    display: none; }
  @media (min-width: 25em) {
    .typo-settings--g1 {
      display: none; } }
  @media (min-width: 25em) and (max-width: 37.49em) {
    .typo-settings--g2 {
      display: block; } }
  @media (min-width: 37.5em) {
    .typo-settings--g3 {
      display: block; } }

.typography-demo {
  padding: 32px 0;
  border-bottom: 1px solid #333; }
  @media (min-width: 37.5em) {
    .typography-demo {
      display: table; } }

.page-titles {
  margin: 48px 0 24px 0; }
  .page-titles > .title {
    margin: 0;
    padding-bottom: 8px; }

.title-pipe {
  width: 24px;
  border-bottom: solid 1px #cf3e80; }

.typo-table {
  padding: 32px 0; }

table {
  width: 100%;
  margin-top: 32px;
  border-collapse: collapse; }

.table-header {
  background-color: #1e1e1e;
  border: 1px solid #333; }

th,
td {
  border: 1px solid #333;
  padding: 8px;
  width: 120px;
  color: #eee;
  height: 50px; }

td {
  color: #bbb;
  height: 40px; }

.swatch {
  width: 80px;
  border-radius: 80px;
  height: 80px;
  margin: auto;
  border: 1px solid #333; }

.swatch-item {
  text-align: center;
  padding: 24px 0; }

.swatch-description {
  padding: 16px 0 0 0; }

.swatch-description > p.title {
  padding-bottom: 8px; }

.browserSize {
  color: #777;
  text-align: left;
  text-transform: uppercase;
  width: 100%; }
  .browserSize--g2, .browserSize--g3, .browserSize--g4 {
    display: none; }
  @media (min-width: 25em) {
    .browserSize--g1 {
      display: none; } }
  @media (min-width: 25em) and (max-width: 37.49em) {
    .browserSize--g2 {
      display: block; } }
  @media (min-width: 37.5em) and (max-width: 62.99em) {
    .browserSize--g3 {
      display: block; } }
  @media (min-width: 63em) {
    .browserSize--g4 {
      display: block; } }

.gel-icon__demo {
  text-align: center;
  padding: 24px 0; }
  .gel-icon__demo > svg {
    width: 48px;
    height: 48px; }

* {
  -webkit-transform-origin-x: 0px;
  -webkit-transform-origin-y: 0px;
  -webkit-transform-origin-z: initial; }

.atom-item-title {
  padding-top: 24px; }

.atom-item-demo {
  text-align: center;
  padding: 32px 0px; }

.organism-item-title {
  padding-top: 24px; }

.organism-item-demo {
  text-align: center;
  padding: 32px 0px; }

nav {
  height: 60px;
  background-color: #1e1e1e;
  border-bottom: solid 1px #333;
  width: 100%;
  position: fixed;
  top: 0;
  display: inline-block;
  vertical-align: middle; }

nav ul {
  padding: 20px;
  list-style: none;
  text-align: left; }

nav ul li {
  display: inline-block;
  margin: 0 10px; }

nav ul li a {
  text-transform: uppercase; }

a.active {
  border-bottom: 2px solid #ecf0f1; }

.toggleNavBtn {
  text-align: right;
  padding: 20px;
  text-transform: uppercase; }

#subnav {
  width: 100%;
  background-color: black;
  border-top: solid 1px #333;
  -webkit-transition: all 0.7s ease-out;
  overflow: hidden;
  max-height: 0px; }
  #subnav.active {
    border-bottom: solid 1px #333;
    border-top: solid 1px #333;
    height: auto;
    max-height: 900px; }
  #subnav ul {
    width: 100%;
    margin: 0 auto;
    display: block; }
    #subnav ul li {
      display: block;
      padding: 16px 0; }

.navLink--active a {
  color: #f54997; }

.btn {
  min-width: 100px;
  background-color: #333;
  padding: 0 12px;
  height: 40px;
  border: 0;
  color: #fff;
  vertical-align: middle;
  transition: color 0.4s ease 0s,background-color 0.4s ease 0s;
  cursor: pointer;
  display: inline-block; }
  .btn p {
    display: inline-block;
    vertical-align: middle; }
  .btn svg {
    fill: #bbb;
    transition: fill 0.4s ease 0s,background-color 0.4s ease 0s;
    display: inline-block;
    vertical-align: middle; }
  .btn:focus, .btn:hover {
    background-color: #cf3e80;
    outline: 0; }
    .btn:focus svg, .btn:hover svg {
      fill: #fff; }
  .btn--inverted {
    background-color: #cf3e80;
    color: #fff; }
    .btn--inverted:hover, .btn--inverted:focus {
      background-color: #444; }
  .btn--fullwidth {
    width: 100%; }
  .btn--relatedLinks {
    background-color: transparent;
    border-top: solid 1px #444;
    width: 100%;
    text-align: left;
    transition: all 0.4s ease 0s;
    padding-right: 8px; }
    @media (min-width: 25em) and (max-width: 37.49em) {
      .btn--relatedLinks {
        padding-right: 0; } }
    .btn--relatedLinks:hover, .btn--relatedLinks:focus {
      border-top: solid 1px #f54997;
      background-color: transparent; }
      .btn--relatedLinks:hover svg, .btn--relatedLinks:focus svg {
        fill: #f54997; }
  .btn--leftIcon svg {
    padding-right: 8px; }
  .btn--rightIcon svg {
    padding-left: 8px; }
  .btn--animate {
    text-transform: uppercase;
    background-color: rgba(37, 37, 37, 0.7);
    background: linear-gradient(to right, #cf3e80 50%, rgba(37, 37, 37, 0.7) 50%);
    background-size: 210% 100%;
    background-position: right bottom;
    transition: background-position 0.5s;
    width: 160px; }
    .btn--animate:hover {
      background-position: left bottom;
      background-color: rgba(37, 37, 37, 0.7); }
  .btn--singleIcon {
    width: 100%;
    height: 100%;
    padding: 0px;
    min-width: 36px; }
    .btn--singleIcon svg {
      width: 32%;
      height: 39%;
      padding-left: 2%;
      fill: #f54997;
      transition: fill 0.4s ease 0s,background-color 0.4s ease 0s; }
    .btn--singleIcon:hover svg {
      fill: white; }

.relatedLinks--outer {
  border-left: solid 6px #f54997; }

.lnk {
  text-decoration: none;
  color: #fff;
  transition: color 0.4s ease 0s,background-color 0.4s ease 0s;
  cursor: pointer; }
  .lnk:hover {
    color: #f54997; }
    .lnk:hover svg {
      fill: #f54997; }
  .lnk--bold {
    font-weight: bold; }
  .lnk--underline:hover {
    padding-bottom: 3px;
    border-bottom: 1px solid; }
  .lnk--icon {
    font-weight: bold;
    display: table;
    margin: auto; }
    .lnk--icon a {
      display: inline-block;
      vertical-align: middle; }
    .lnk--icon svg {
      fill: #bbb;
      padding-right: 8px;
      transition: fill 0.4s ease 0s,background-color 0.4s ease 0s;
      vertical-align: middle;
      display: inline-block; }
  .lnk--dropdown {
    font-weight: bold; }
    .lnk--dropdown svg {
      vertical-align: bottom;
      padding-bottom: 4px;
      fill: #fff;
      padding-left: 6px;
      transition: fill 0.4s ease 0s,background-color 0.4s ease 0s;
      height: 10px;
      width: 10px; }

.leftBlock {
  float: left;
  padding-right: 4px; }

.rightBlock {
  float: right;
  padding-left: 4px; }

.singleIcon-container {
  width: 64px;
  height: 64px;
  text-align: center;
  display: inline-block;
  margin: 1px; }

.carouselButtons {
  background-color: #fff; }
  .carouselButtons svg {
    fill: #1e1e1e; }

.dismiss {
  background-color: transparent;
  padding: 16px;
  border: 0;
  cursor: pointer;
  fill: #fff; }
  .dismiss:hover, .dismiss:focus {
    fill: #f54997; }

.editorial-label {
  background-color: #cf3e80;
  color: #fff;
  padding: 0px 4px;
  display: inline-block;
  vertical-align: middle; }
  .editorial-label p {
    display: inline-block;
    vertical-align: middle; }
  .editorial-label--pulsate {
    animation: pulse 3s infinite; }
@keyframes pulse {
  0% {
    background-color: #444; }
  50% {
    background-color: #cf3e80; }
  100% {
    background-color: #444; } }
.filter-item {
  color: #bbb;
  display: inline-block;
  vertical-align: middle;
  margin: auto;
  fill: #bbb;
  margin-right: 16px;
  cursor: pointer; }
  .filter-item svg,
  .filter-item p {
    display: inline-block;
    vertical-align: middle; }
  .filter-item svg {
    padding-right: 8px; }
  .filter-item:hover, .filter-item:focus {
    fill: #fff;
    color: #fff; }
  .filter-item--active, .filter-item--active:hover, .filter-item--active:focus {
    cursor: default;
    color: #cf3e80;
    fill: #cf3e80; }

.nav-item {
  color: #fff;
  cursor: pointer;
  text-align: left;
  vertical-align: middle;
  display: table;
  width: 100%;
  fill: #fff;
  height: 32px;
  transition: color 0.4s ease 0s,background-color 0.4s ease 0s; }
  .nav-item p,
  .nav-item svg {
    display: table-cell;
    vertical-align: middle; }
  .nav-item p {
    padding: 0 12px; }
  .nav-item svg {
    float: right; }
  .nav-item:hover, .nav-item:focus {
    background-color: white;
    color: #333; }
  .nav-item--active, .nav-item--active:hover, .nav-item--active:focus {
    background-color: #cf3e80;
    color: #fff;
    cursor: default; }

.progress {
  height: 6px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5); }
  .progress__bar {
    height: 100%;
    background-color: #f54997; }

.duration-label,
.duration-label__icon,
.duration-label__time {
  display: inline-block;
  vertical-align: middle;
  fill: #bbb;
  color: #bbb; }

.duration-label svg {
  padding-right: 8px;
  vertical-align: middle;
  display: inline-block; }

.inline-list--separated .inline-list__item {
  border-left: 1px solid #444;
  padding-left: 16px;
  margin-left: 16px; }
.inline-list--separated .inline-list__item:first-child {
  border-left: 0;
  padding-left: 0;
  margin-left: 0; }
.inline-list__item {
  display: inline-block; }

.modal {
  width: 288px;
  background-color: #2a2a2a;
  text-align: center;
  position: relative;
  margin: auto; }
  @media (min-width: 25em) {
    .modal {
      max-width: 456px;
      width: 100%; } }
  @media (min-width: 37.5em) {
    .modal {
      width: 456px; } }
  .modal__inner {
    padding: 56px 32px 32px; }
  .modal__title {
    color: #f54997; }
  .modal__subtitle {
    color: #eee;
    margin-top: 8px; }
  .modal__description {
    color: #bbb;
    margin-top: 8px; }
  .modal__links {
    padding-top: 16px; }
  .modal__dismiss {
    position: absolute;
    top: 0;
    right: 0; }
  .modal__checkbox, .modal__guidance {
    display: inline-block;
    vertical-align: middle;
    margin: 8px 0; }
    .modal__checkbox p, .modal__guidance p {
      display: inline-block;
      vertical-align: middle;
      max-width: 60%;
      text-align: left;
      margin-left: 8px; }
    .modal__checkbox svg, .modal__guidance svg {
      display: inline-block;
      vertical-align: middle;
      fill: red; }
  .modal__checkbox p {
    max-width: 100%; }

.btn--modal-stacked-buttons {
  height: 56px;
  width: 100%;
  border-top: solid 1px #444;
  background-color: #2a2a2a; }

.btn--modal-inline-buttons {
  display: inline-block;
  height: 56px;
  width: 100%;
  background-color: #2a2a2a;
  border-top: solid 1px #444; }
  @media (min-width: 37.5em) {
    .btn--modal-inline-buttons {
      width: 50%; } }
  @media (min-width: 37.5em) {
    .btn--modal-inline-buttons:first-child {
      border-right: solid 1px #444; } }

.modal__checkbox {
  margin: 24px 0px 0px 0px; }
  .modal__checkbox svg {
    width: 16px;
    height: 16px;
    padding: 8px;
    display: inline-block;
    vertical-align: middle;
    background-color: #fff; }
  .modal__checkbox label {
    position: relative;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle; }
  .modal__checkbox input[type="checkbox"] {
    opacity: 0;
    width: 0px;
    height: 0px;
    margin: 0px; }
  .modal__checkbox input[type="checkbox"]:checked ~ label svg path {
    fill: #333; }
  .modal__checkbox .checkbox__text {
    padding-left: 16px; }

.title-block {
  text-align: left;
  display: inline-block; }
  .title-block__play {
    vertical-align: top;
    padding-bottom: 12px; }
    @media (min-width: 37.5em) {
      .title-block__play {
        display: inline-block; } }
    .title-block__play > .singleIcon-container {
      width: 44px;
      height: 44px; }
      @media (min-width: 37.5em) {
        .title-block__play > .singleIcon-container {
          height: 72px;
          width: 72px; } }
  @media (min-width: 37.5em) {
    .title-block__description {
      display: inline-block;
      padding-left: 16px; } }
  .title-block__description .title {
    padding-bottom: 8px;
    color: #fff; }
    @media (min-width: 37.5em) {
      .title-block__description .title {
        padding-bottom: 10px; } }
  .title-block__description .episode {
    padding-bottom: 8px;
    color: #fff; }
    @media (min-width: 37.5em) {
      .title-block__description .episode {
        padding-bottom: 12px; } }

.rs-image img {
  width: 100%;
  height: auto;
  display: block; }

body {
  background-color: #252525;
  -webkit-font-smoothing: antialiased;
  margin: 0 0 80px 0; }

p,
h2 {
  margin: 0; }

.no-wrap {
  white-space: nowrap; }

/*# sourceMappingURL=core.css.map */
